In [250]:
import numpy as np
import pandas as pd

# set some print options
np.set_printoptions(precision=4)
np.set_printoptions(threshold=5)
np.set_printoptions(suppress=True)
pd.set_option('precision', 3, 'notebook_repr_html', True, )

# init random gen
np.random.seed(2)

In [251]:
users_file = "/media/sourabhkondapaka/Sourabh's/main_project/sandbox/ml-latest-small/ratings.csv"
movies_file = "/media/sourabhkondapaka/Sourabh's/main_project/sandbox/ml-latest-small/movies.csv"
users = pd.read_table(users_file,sep=',', header=None,names = ['user_id','movie_id','rating','timestamp'])
movies = pd.read_table(movies_file, sep=',')

In [252]:
movielens = pd.merge(users , movies)

In [253]:
movielens.head(4)

   user_id  movie_id  rating   timestamp                   title genres
0        1        31     2.5  1260759144  Dangerous Minds (1995)  Drama
1        7        31     3.0   851868750  Dangerous Minds (1995)  Drama
2       31        31     4.0  1273541953  Dangerous Minds (1995)  Drama
3       32        31     4.0   834828440  Dangerous Minds (1995)  Drama

In [254]:

import math as mt
import csv
from sparsesvd import sparsesvd 
import numpy as np
from scipy.sparse import csc_matrix 
from scipy.sparse.linalg import *

In [255]:
user_ratings_matrix = users.pivot_table(values = "rating", index = "user_id", columns = "movie_id")

In [256]:
user_ratings_matrix.head(1)

movie_id,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [257]:
import sys 
import recsys
import recsys.algorithm
from recsys.algorithm.factorize import SVD
from recsys.datamodel.data import Data
import pandas as pd
from recsys.evaluation.prediction import RMSE ,MAE

recsys.algorithm.VERBOSE = True

In [258]:
users_file = "/media/sourabhkondapaka/Sourabh's/main_project/sandbox/ml-latest-small/ratings.csv"
movies_file = "/media/sourabhkondapaka/Sourabh's/main_project/sandbox/ml-latest-small/movies.csv"
users = pd.read_table(users_file,sep=',', header=None,names = ['user_id','movie_id','rating','timestamp'],index_col = False)
movies = pd.read_table(movies_file, sep=',')

In [259]:
movies.ix[movies['movie_id']== 3114]['title']

2506    Toy Story 2 (1999)
Name: title, dtype: object

In [135]:
users.head()

   user_id  movie_id  rating   timestamp
0        1        31     2.5  1260759144
1        1      1029     3.0  1260759179
2        1      1061     3.0  1260759182
3        1      1129     2.0  1260759185
4        1      1172     4.0  1260759205

 users.head(22)

In [136]:
 users.to_csv("/home/sourabhkondapaka/Desktop/ratingsss.csv",index= False)

In [219]:
PERCENT_TRAIN = 70
data = Data()
data.load('/home/sourabhkondapaka/Desktop/ratingsss.csv', sep=',', format={'col':0, 'row':1 ,'value':2, 'ids':float})

In [220]:
train, test = data.split_train_test(percent=100)
 
#Create SVD
K=100
svd = SVD()

In [221]:
svd.set_data(train)

In [222]:
svd.compute(k=K, min_values=1, pre_normalize=None, mean_center=True, post_normalize=True)

In [223]:
rmse = RMSE()
mae = MAE()
for rating,user_id ,movie_id in test.get():

IndentationError: expected an indented block (<ipython-input-223-ea02c3a68ace>, line 3)

In [272]:
l = svd.similar(1)
l = l[2:]
#print l

mm = []

for p in l:
    movies.ix[movies['movie_id']== p[0]]['title']
    bb = str(movies.ix[movies['movie_id'] == p[0] ]['title']).split()    
    q = bb.index('Name:')
    bb = ' '.join(bb[1:q])
    mm.append(bb)
    print bb
print mm

Toy Story 2 (1999)
Louis C.K.: Live at The Comedy Store (2015)
Stalingrad (1993)
Talking About Sex (1994)
Three Musketeers, The (1933)
Salsa (1988)
Social Network, The (2010)
Bug's Life, A (1998)
['Toy Story 2 (1999)', 'Louis C.K.: Live at The Comedy Store (2015)', 'Stalingrad (1993)', 'Talking About Sex (1994)', 'Three Musketeers, The (1933)', 'Salsa (1988)', 'Social Network, The (2010)', "Bug's Life, A (1998)"]

In [275]:
print round(svd.similarity(1,3),4)*100

-3.26

In [167]:
svd.similarity(100,5)

0.052506115777717174

In [186]:
p = svd.recommend(100, n=10, only_unknowns=True, is_row=False)

In [187]:
l = []
for q in p:
    l.append(int(q[0]))

In [188]:

for i in l:
    print(movies.ix[movies['movie_id'] == i]['movie_id'])

44    46
Name: movie_id, dtype: int64
392    443
Name: movie_id, dtype: int64
Series([], Name: movie_id, dtype: int64)
397    448
Name: movie_id, dtype: int64
103    113
Name: movie_id, dtype: int64
Series([], Name: movie_id, dtype: int64)
83    89
Name: movie_id, dtype: int64
403    454
Name: movie_id, dtype: int64
257    287
Name: movie_id, dtype: int64
395    446
Name: movie_id, dtype: int64